@import url("fonts.css");

* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  /* background: linear-gradient(
    90deg,
    rgba(27, 34, 72, 1) 0%,
    rgba(26, 11, 35, 1) 100%
  ); */
}

/*Styling of background*/

.stars {
  background: #000 url("/assets/stars.png");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  position: fixed;
}

.twinkling {
  z-index: -1;
  background: url("/assets/twinkle.png") repeat;
  position: fixed;
  background-size: 10rem;
  background-repeat: repeat;
  width: 100vw;
  aspect-ratio: 1/1;
  animation: move-twink-back 300s linear infinite;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

/*Placement and planets styling*/
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.solen {
  margin-left: -73rem;
  width: 75rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: rgb(255, 208, 42);
}

.solen-clicked {
  margin-left: -68.5rem;
  width: 75rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: rgb(255, 208, 42);
  box-shadow: 3rem 0 0 0 rgb(255, 208, 42, 0.1) /*First shadow*/,
    6rem 0 0 0 rgb(255, 208, 42, 0.1) /*Second shadow*/,
    20rem 0 10rem 0 rgb(255, 208, 42, 0.1) /*Third shadow*/;
}

.merkurius {
  width: 0.6rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: rgb(140, 143, 130);
}

.merkurius-clicked {
  margin-left: -68.5rem;
  width: 75rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: rgb(140, 143, 130);
  box-shadow: 3rem 0 0 0 rgb(141, 140, 125, 0.1) /*First shadow*/,
    6rem 0 0 0 rgb(141, 140, 125, 0.1) /*Second shadow*/,
    20rem 0 60px 0px rgb(141, 140, 125, 0.1) /*Third shadow*/;
}

.venus {
  width: 1.49rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: rgb(234, 204, 195);
}

.venus-clicked {
  margin-left: -68.5rem;
  width: 75rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: rgb(234, 204, 195);
  box-shadow: 3rem 0 0 0 rgb(234, 204, 195, 0.1) /*First shadow*/,
    6rem 0 0 0 rgb(234, 204, 195, 0.1) /*Second shadow*/,
    20rem 0 10rem 0px rgb(234, 204, 195, 0.1) /*Third shadow*/;
}

.jorden {
  width: 1.56rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: rgb(62, 145, 216);
}

.jorden-clicked {
  margin-left: -68.5rem;
  width: 75rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: rgb(62, 145, 216);
  box-shadow: 3rem 0 0 0 rgb(62, 145, 216, 0.1) /*First shadow*/,
    6rem 0 0 0 rgb(62, 145, 216, 0.1) /*Second shadow*/,
    20rem 0 10rem 0 rgb(62, 145, 216, 0.1) /*Third shadow*/;
}

.mars {
  width: 0.84rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: rgb(214, 86, 105);
}

.mars-clicked {
  margin-left: -68.5rem;
  width: 75rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: rgb(214, 86, 105);
  box-shadow: 3rem 0 0 0 rgb(214, 86, 105, 0.1) /*First shadow*/,
    6rem 0 0 0 rgb(214, 86, 105, 0.1) /*Second shadow*/,
    20rem 0 60px 0px rgb(214, 86, 105, 0.1) /*Third shadow*/;
}

.jupiter {
  width: 17.61rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: rgb(226, 147, 104);
}

.jupiter-clicked {
  margin-left: -68.5rem;
  width: 75rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: rgb(226, 147, 104);
  box-shadow: 3rem 0 0 0 rgb(226, 147, 104, 0.1) /*First shadow*/,
    6rem 0 0 0 rgb(226, 147, 104, 0.1) /*Second shadow*/,
    20rem 0 60px 0px rgb(226, 147, 104, 0.1) /*Third shadow*/;
}

.saturnus {
  width: 15rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: rgb(198, 170, 114);
  position: relative;
}

.saturnus:after {
  content: "";
  height: 3px;
  width: 150%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  transform: rotate(-30deg);
  background: linear-gradient(
    to right /* Gradient direction*/,
    transparent 0% /*Fully transparent at the start*/,
    rgba(255, 255, 255, 1) 50% /*Semi-transparent in the middle*/,
    transparent 100% /*Fully transparent at the end*/
  );
  top: 50%;
  left: -23%;
  opacity: 80%;
}

.saturnus-clicked {
  margin-left: -68.5rem;
  width: 75rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: rgb(198, 170, 114);
  box-shadow: 3rem 0 0 0 rgb(198, 170, 114, 0.1) /*First shadow*/,
    6rem 0 0 0 rgb(198, 170, 114, 0.1) /*Second shadow*/,
    20rem 0 60px 0px rgb(198, 170, 114, 0.1) /*Third shadow*/;
}

.uranus {
  width: 6.24rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: rgb(201, 212, 240);
}

.uranus-clicked {
  margin-left: -68.5rem;
  width: 75rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: rgb(201, 212, 240);
  box-shadow: 3rem 0 0 0 rgb(201, 212, 240, 0.1) /*First shadow*/,
    6rem 0 0 0 rgb(201, 212, 240, 0.1) /*Second shadow*/,
    20rem 0 60px 0px rgb(201, 212, 240, 0.1) /*Third shadow*/;
}

.neptunus {
  width: 6.07rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: rgb(124, 145, 166);
}

.neptunus-clicked {
  margin-left: -68.5rem;
  width: 75rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: rgb(124, 145, 166);
  box-shadow: 3rem 0 0 0 rgb(124, 145, 166, 0.1) /*First shadow*/,
    6rem 0 0 0 rgb(124, 145, 166, 0.1) /*Second shadow*/,
    20rem 0 60px 0px rgb(124, 145, 166, 0.1) /*Third shadow*/;
}

/*Font rules*/

h1 {
  font-family: "font-h1";
  font-weight: 400;
  font-size: 3.75rem;
  text-transform: uppercase;
}

h2 {
  font-family: "font-h2";
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 1rem;
  color: #ffd029;
  text-transform: uppercase;
}

p {
  font-family: "font-p";
  font-weight: 100;
  font-size: 1.125rem;
}

/*Placement and styling of chosen planet*/

.planet-container {
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  gap: 20rem;
}

.current-planet-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  gap: 20rem;
}

.planet {
  margin-left: -68.5rem;
  width: 75rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: rgb(141, 140, 125);
  box-shadow: 3rem 0 0 0 rgb(141, 140, 125, 0.1) /*First shadow*/,
    6rem 0 0 0 rgb(141, 140, 125, 0.1) /*Second shadow*/,
    20rem 0 60px 0px rgb(141, 140, 125, 0.1) /*Third shadow*/;
}

.planet-info {
  /* border: 2px solid red; */
  width: 50rem;
  height: 35rem;
  color: white;
  display: flex;
  flex-direction: column;
}

.planet-main {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.planet-details {
  /* border: 2px solid rebeccapurple; */
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin: 2rem 15rem 2rem 0;

  .details-sizes {
    /* border: 2px solid firebrick; */
    display: flex;
    justify-content: space-between;

    h1 {
      font-weight: 400;
      font-size: 1.125rem;
      text-transform: uppercase;
    }
  }

  .details-temp {
    /* border: 2px solid firebrick; */
    display: flex;
    justify-content: space-between;
    margin-right: -0.7rem;

    h1 {
      font-weight: 400;
      font-size: 1.125rem;
      text-transform: uppercase;
    }
  }
}

.moon-info {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  flex-wrap: wrap;
  max-width: 100%;

  h1 {
    font-weight: 400;
    font-size: 1.125rem;
    text-transform: uppercase;
  }

  p{
    display: inline-flex;
    overflow-wrap: break-word;
  }

}

.divider-line {
  width: 100%;
  height: 0.5px;
  background-color: white;
  opacity: 50%;
}
